/* GLOBAL SETTINGS */
/* ==================================================== */

body { 
    background-image: url("../img/hedgehog.jpg");
    background-size: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: rgb(255, 196, 0);
    font-family: font-family: 'Dokdo', cursive;
    overflow-x: hidden /* keep all of the content within the browser window */ 
}

[class*="col-"] {
    padding: 1rem;
}

.container {
    margin: auto;
    text-align: center;
}

/* SPECIFIC SETTINGS */
/* ==================================================== */

    /* for jumbotron */
    .fixed-background {
        position: relative;
        width: 100%;
    }
    .fixed-wrap {
        clip: rect(0, auto, auto, 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -999!important;
    }
    .fixed {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        will-change: transform;
        background-image: url("../img/theDodoHeader.jpg");
        background-color: rgba(0, 0, 0, 0.85);
        z-index: -1;
    }